<div id="imgBox" class="inline_block">
  <img src="http://lorempixel.com/50/100" alt="img1" class="block">
  <img src="http://lorempixel.com/50/100" alt="img2" class="block">
  <img src="http://lorempixel.com/50/100" alt="img3" class="block">
</div>

<div class="inline_block">
  <h1 id="boxName">Bac N° 1</h1>

  <div>
    <h2>Image du bac</h2>
    <img src="http://lorempixel.com/50/200" alt="imgBox">
  </div>
  <div>
    <h2>Infos du bac</h2>
    <p>Litre total: </p>
    <p>Litre actuel: </p>
    <p>Dimensions: </p>
  </div>

  <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>



